.header{
    background-color: #2874F0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_first > img{
    width: 75px;
    object-fit: contain;
}
.header_first{
    padding-right: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 120px;
    margin-right: 10px;
}

.header_second{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1px;
    padding: 0px 16px;
    margin-right: 40px;
}
.header_second>input{
    border: 0;
    outline: none;
    width: 36vw;
    height: 36px;
    padding: 0px 16px;
    border-radius: 3px;
    font-size: 14px;
    
}
.header_second>.MuiSvgIcon-root{
    color: #2874f0;
    padding: 5px;
    font-size: 25px;
}
.header_third>button{
    background-color: white;
    border: 1px solid #dbdbdb ;
    outline: none;
    font-weight: bold;
    color: #2874f0;
    height: 32px;
    font-size: 15;
    padding: 7px 40px;
    margin: 10px 5px;
    cursor: pointer;

}
.header_fourth{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
}
.header_fourth>span{
    font-weight: 600;
    color: white;

}
.header_fourth>.MuiSvgIcon-root{
    color: white;
}
.header_fifth{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header_fifth>.MuiSvgIcon-root{
    color: white;
}
.header_fifth>p{
    color: white;
    font-weight: bold;
}